<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.21.1">
      <projectUrl>https://github.com/verve-inc/365-app/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.6.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>365app</name>
        <url>git@github.com:verve-inc/365-app.git</url>
        <credentialsId>hiepns</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/staging</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <jenkins.plugins.play.PlayBuilder plugin="play-autotest-plugin@1.0.2">
      <playToolHome>/opt/play2.5.6/bin</playToolHome>
      <projectPath>.</projectPath>
      <playVersion class="jenkins.plugins.play.version.Play2x">
        <commands>
          <jenkins.plugins.play.commands.PlayClean>
            <parameter></parameter>
          </jenkins.plugins.play.commands.PlayClean>
          <jenkins.plugins.play.commands.PlayDist>
            <parameter></parameter>
          </jenkins.plugins.play.commands.PlayDist>
        </commands>
      </playVersion>
    </jenkins.plugins.play.PlayBuilder>
    <jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin plugin="publish-over-ssh@1.14">
      <delegate>
        <consolePrefix>SSH: </consolePrefix>
        <delegate>
          <publishers>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher>
              <configName>st-ers24</configName>
              <verbose>false</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory>&apos;build-&apos;$BUILD_ID&apos;_&apos;yyyy-MM-dd</remoteDirectory>
                  <sourceFiles>target/universal/ers24*.zip</sourceFiles>
                  <excludes></excludes>
                  <removePrefix>target/universal</removePrefix>
                  <remoteDirectorySDF>true</remoteDirectorySDF>
                  <flatten>true</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand></execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>true</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher>
              <configName>st-ers24</configName>
              <verbose>false</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory>lastest</remoteDirectory>
                  <sourceFiles>target/universal/ers24*.zip</sourceFiles>
                  <excludes></excludes>
                  <removePrefix>target/universal</removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand>sudo mv /usr/local/products/ers24* /usr/local/products/backups/$(date +%Y%m%d%H%M)

sudo unzip /usr/local/ers24_bin/lastest/ers24-*.zip -d /usr/local/products/
sudo mv /usr/local/products/ers24-* /usr/local/products/ers24

sudo /usr/local/products/run.sh</execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>true</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          </publishers>
          <continueOnError>false</continueOnError>
          <failOnError>true</failOnError>
          <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
          <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        </delegate>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>